# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
.venv/
venv/
ENV/
*.env

# Jupyter / EDA outputs
*.ipynb_checkpoints/
*.ipynb
*.png   # remove this line if you WANT to upload the plots
*.jpg

# macOS / Windows junk
.DS_Store
Thumbs.db
